body {
	background: linear-gradient(black, black, black, white, black, black, black);
	height: 380px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
}

#title {
	color: black;
	text-align: center;
	margin-top: 265px;
}

#buttonlist {
	position: absolute;
	top: 460px;
	left: 470px;
}

button {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	width: 80px;
	color: white;
	background-color: black;
	border-radius: 6px;
	box-shadow: 2px 2px 1px white;
	cursor: pointer;
}

#searchbutton {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	width: 80px;
	color: white;
	background-color: black;
	border-radius: 6px;
	box-shadow: 2px 2px 1px white;
	cursor: pointer;
}

#search {
	width: 180px;
	text-transform: uppercase;
}

#searchform {
	position: absolute;
	left: 505px;
	font-family: 'Dosis', sans-serif;
	top: 170px;
}

#artwork {
	left: 585px;
	position: absolute;
	top: 310px;
}

#soundcloudimg {
	width: 200px;
	position: absolute;
	top: 20px;
	left: 450px;
}

#header {
	font-size: 24px;
	position: absolute;
	font-family: arial;
	top: 84px;
	color: white;
	left: 649px;
}