<!DOCTYPE html>
	<html>
		<head>
				<title>BulletinBoard</title>
			<link rel="stylesheet" type="text/css" href="/reset.css"/>
			<link rel="stylesheet" type="text/css" href="/style.css"/>
		</head>
	<body>

<!-- Form input for bulletin -->
		<form class="add-form" action="/" method="post">
			<input class="input-title" type="text" name="title" placeholder="Title"/>
		</br>
			<textarea class="input-body" type="text" name="body" placeholder="Your message here"></textarea>
		</br>
				<button class="add-btn">Add</button>
		</form>

				<button class="add-main-btn"><a href="/">Message Board</a></button>
	</body>
	</html>
